header{
  background-color: rgb(89, 236, 89);
  height: 140px;
  width: 980px;
  border: 2px dashed black;
  margin: auto;
  margin-bottom: 10px;
}
main{
  width: 980px;
  height: 450px;
  background-color: ;
  border: 2px dashed black;
  margin: auto;
  margin-bottom: 10px;
}
aside{
  width: 270px;
  height: 450px;
  background-color:grey ;
  border: 2px black;
  float: left;

}
section{
  width: 690px;
  height: 450px;
  background-color:grey ;
  border: 2px black;
  float: left;
  margin-left: 20px;


}
footer{
  background-color: aqua;
  height: 70px;
  width: 980px;
  border: 2px dashed black;
  margin: auto;
  margin-top: 10px;
}